{% extends "main.html" %}
{% block css %}
    <link href="{{ static_url("css/articles.css") }}" rel="stylesheet">
{% end %}
{% block breadCrumb %}
    <li class="active">News</li>
{% end %}
{% block contentMain %}
    {% module List() %}
    <hr />
    <ul class="media-list">
        {% for article in articles %}
        <li class="media">
            <div class="media-body">
                <a href="article"><h4 class="article_heading">{{article.title}}</h4></a>
                <div class="article_info">
                    <span class="article_author">
                        {% for author in article.author %}
                            {% if not isinstance(author, str) %}
                                {{author.firstname.capitalize()}} {{author.lastname.capitalize()}}
                            {% else %}
                                {{author}}
                            {% end %}
                        {% end %}
                    </span>
                    <span class="article_publish_time">{{article.publish_time}}</span>
                </div> 
                <div class="article_abstract">
                    {{article.abstract}}
                </div>
            </div>
            <div class="media-left">
                <a href="#">
                    <img class="media-object" src="{{static_url(article.article_image)}}" alt="...">
                </a>
            </div>
        </li> 
        <hr />
        {% end %}
    </ul>
    <div class="list_loading_more btn btn-default">
        Load More 
    </div>
{% end %}
