{% extends "main.html" %}
{% block css %}
    <link href="{{ static_url("css/articles.css") }}" rel="stylesheet">
{% end %}
{% block breadCrumb %}
    <li class="active">最新动态</li>
{% end %}
{% block rightMain %}
    {% module List() %}
    <hr />
    <ul class="media-list">
        <li class="media">
            <div class="media-body">
                <h4 class="article_heading">测试标题</h4>
                <div class="article_info">
                    <span class="article_author">彭敏</span>
                    <span class="article_publish_time">2015-09-16</span>
                </div> 
                <div class="article_abstract">
                    测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试
                </div>
            </div>
            <div class="media-left">
                <a href="#">
                    <img class="media-object" src="{{static_url("img/switch_one.jpeg")}}" alt="...">
                </a>
            </div>
        </li> 
        <hr />
        <li class="media">
            <div class="media-body">
                <h4 class="article_heading">测试标题</h4>
                <div class="article_info">
                    <span class="article_author">彭敏</span>
                    <span class="article_publish_time">2015-09-16</span>
                </div> 
                <div class="article_abstract">
                    测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试
                </div>
            </div>
            <div class="media-left">
                <a href="#">
                    <img class="media-object" src="{{static_url("img/switch_one.jpeg")}}" alt="...">
                </a>
            </div>
        </li> 
        <hr />
        <li class="media">
            <div class="media-body">
                <h4 class="article_heading">测试标题</h4>
                <div class="article_info">
                    <span class="article_author">彭敏</span>
                    <span class="article_publish_time">2015-09-16</span>
                </div> 
                <div class="article_abstract">
                    测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试
                </div>
            </div>
            <div class="media-left">
                <a href="#">
                    <img class="media-object" src="{{static_url("img/switch_one.jpeg")}}" alt="...">
                </a>
            </div>
        </li> 
        <hr />
        <li class="media">
            <div class="media-body">
                <h4 class="article_heading">测试标题</h4>
                <div class="article_info">
                    <span class="article_author">彭敏</span>
                    <span class="article_publish_time">2015-09-16</span>
                </div> 
                <div class="article_abstract">
                    测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试
                </div>
            </div>
            <div class="media-left">
                <a href="#">
                    <img class="media-object" src="{{static_url("img/switch_one.jpeg")}}" alt="...">
                </a>
            </div>
        </li> 
        <hr />
        <li class="media">
            <div class="media-body">
                <h4 class="article_heading">测试标题</h4>
                <div class="article_info">
                    <span class="article_author">彭敏</span>
                    <span class="article_publish_time">2015-09-16</span>
                </div> 
                <div class="article_abstract">
                    测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试
                </div>
            </div>
            <div class="media-left">
                <a href="#">
                    <img class="media-object" src="{{static_url("img/switch_one.jpeg")}}" alt="...">
                </a>
            </div>
        </li> 
        <hr />
        <li class="media">
            <div class="media-body">
                <h4 class="article_heading">测试标题</h4>
                <div class="article_info">
                    <span class="article_author">彭敏</span>
                    <span class="article_publish_time">2015-09-16</span>
                </div> 
                <div class="article_abstract">
                    测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试
                </div>
            </div>
            <div class="media-left">
                <a href="#">
                    <img class="media-object" src="{{static_url("img/switch_one.jpeg")}}" alt="...">
                </a>
            </div>
        </li> 
        <hr />
        <li class="media">
            <div class="media-body">
                <h4 class="article_heading">测试标题</h4>
                <div class="article_info">
                    <span class="article_author">彭敏</span>
                    <span class="article_publish_time">2015-09-16</span>
                </div> 
                <div class="article_abstract">
                    测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试
                </div>
            </div>
            <div class="media-left">
                <a href="#">
                    <img class="media-object" src="{{static_url("img/switch_one.jpeg")}}" alt="...">
                </a>
            </div>
        </li> 
        <hr />
        <li class="media">
            <div class="media-body">
                <h4 class="article_heading">测试标题</h4>
                <div class="article_info">
                    <span class="article_author">彭敏</span>
                    <span class="article_publish_time">2015-09-16</span>
                </div> 
                <div class="article_abstract">
                    测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试
                </div>
            </div>
            <div class="media-left">
                <a href="#">
                    <img class="media-object" src="{{static_url("img/switch_one.jpeg")}}" alt="...">
                </a>
            </div>
        </li> 
        <hr />
    </ul>
    <div class="list_loading_more btn btn-default">
        加载更多
    </div>
{% end %}
