{% extends "banner.html" %}
{% block css %}
<link href="{{ static_url("css/index.css") }}" rel="stylesheet">
{% end %}
{% block main %}
<!-- Carousel -->
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <div class="col-md-6 carousel_img">
                <img src="{{static_url("img/switch_one.jpeg")}}" alt="...">
            </div>
            <div class="col-md-6 carousel_text">
                <div class="carousel_title">测试标题</div> 
                <div class="carousel_intro">试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试</div> 
                <a class="carousel_link btn btn-default">了解更多</a>
            </div>
        </div>
        <div class="item">
            <div class="col-md-6 carousel_img">
                <img src="{{static_url("img/switch_three.jpeg")}}" alt="...">
            </div>
            <div class="col-md-6 carousel_text">
                <div class="carousel_title">测试标题</div> 
                <div class="carousel_intro">试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试</div> 
                <a class="carousel_link btn btn-default">了解更多</a>
            </div>
        </div>
        <div class="item">
            <div class="col-md-6 carousel_img">
                <img src="{{static_url("img/switch_two.jpeg")}}" alt="...">
            </div>
            <div class="col-md-6 carousel_text">
                <div class="carousel_title">测试标题</div> 
                <div class="carousel_intro">试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试</div> 
                <a class="carousel_link btn btn-default">了解更多</a>
            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<!--Fields-->
<section id="Fields">
    <div class="container">
        <div class="section_title">研究方向</div>
        <div class="col-md-4">
            <div class="field_title">研究方向1</div>
            <div class="field_text">测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测测试测试测试测试测试测试测试测试测试测试测试测试测试</div>
            <a class="field_link" href="#">了解更多</a>
        </div>
        <div class="col-md-4">
            <div class="field_title">研究方向2</div>
            <div class="field_text">测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测测试测试测试测试测试测试测试测试测试测试测试测试测试</div>
            <a class="field_link" href="#">了解更多</a>
        </div>
        <div class="col-md-4">
            <div class="field_title">研究方向3</div>
            <div class="field_text">测试测试试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测测试测试测试测试测试测试测试测试测试测试测试测试测试</div>
            <a class="field_link" href="#">了解更多</a>
        </div>
    </div>
</section>
<!--Papers-->
<section id="Papers">
    <div class="container">
        <div class="section_title">最新论文</div>
        <a href="#">
            <div class="col-md-3">
                <div class="thumbnail">
                    <img src="{{static_url("img/paper.png")}}" data-src="holder.js/100%x300" style="height:300px; width:100%"/>
                    <p>Streaming First Story Detection with application to Twitter</p>
                </div>
            </div>
        </a> 
        <a href="#">
            <div class="col-md-3">
                <div class="thumbnail">
                    <img src="{{static_url("img/paper.png")}}" data-src="holder.js/100%x300" style="height:300px; width:100%"/>
                    <p>Streaming First Story Detection with application to Twitter</p>
                </div>
            </div>
        </a> 
        <a href="#">
            <div class="col-md-3">
                <div class="thumbnail">
                    <img src="{{static_url("img/paper.png")}}" data-src="holder.js/100%x300" style="height:300px; width:100%"/>
                    <p>Streaming First Story Detection with application to Twitter</p>
                </div>
            </div>
        </a> 
        <a href="#">
            <div class="col-md-3">
                <div class="thumbnail">
                    <img src="{{static_url("img/paper.png")}}" data-src="holder.js/100%x300" style="height:300px; width:100%"/>
                    <p>Streaming First Story Detection with application to Twitter</p>
                </div>
            </div>
        </a> 
    </div>
     
</section>
    
{% end %}
