{% extends "banner.html" %}
{% block css %}
<link href="{{ static_url("css/index.css") }}" rel="stylesheet">
{% end %}
{% block main %}
<!-- Carousel -->
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        {% for article in articles[:3] %}
        <div class="item {% if articles.index(article) == 0 %} active {%end%}">
            <div class="col-md-6 carousel_img">
                <img src="{{static_url(article.article_image)}}" alt="...">
            </div>
            <div class="col-md-6 carousel_text">
                <div class="carousel_title">{{article.title}}</div> 
                <div class="carousel_intro">{{article.abstract}}</div> 
                <div class="carousel_link">
                    <a class="btn btn-default" href="/article/{{article.article_id}}">
                        Learn More
                    </a>
                </div>
            </div>
        </div>
        {%end%}
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<!--Intro-->
<section id="Intro">
    <div class="container">
        <div class="page-header intro_slogen">The finest language is mostly made up of simple unimposing words</div>
        <div class="intro_text">
        </div>
    </div>
</section>
<!--Papers-->
<section id="Papers">
    <div class="container">
        <div class="section_title">Research</div>
        <div class="row">
            {% for paper in papers %}
                <div class="col-md-4">
                    <div class="paper_wrapper">
                        <div class="paper_title_wrapper">
                            <p class="paper_date">{{paper.publish_year}}</p>
                        </div>
                        <div class="paper_text">
                            <div class="paper_title">
                                <a href="/paper/{{paper.article_id}}">{{paper.title}}</a>
                            </div>
                            <p class="paper_writer">
                                {%for author in paper.author%}
                                    <span>
                                    {% if not isinstance(author, basestring) %}
                                        <a href="/person/{{author.username}}">{{author.english_name}}</a>
                                    {%else%}
                                        {{author}}
                                    {%end%}
                                    </span>
                                {%end%}
                            </p>
                            <p class="paper_publisher">{{paper.publisher_name}}</p>
                        </div>
                    </div>
                </div>
            {%end%}
        </div>
        <div class="section_link">
            <a class="btn btn-default" href="/research">Learn More</a>
        </div>
    </div>
</section>

<section id="Projects">
    <div class="wrapper">
    <div class="container">
        <div class="section_title">Projects</div>
        <div class="row">
            {% for project in projects %}
            <div class="{%if projects.index(project)==0%}col-md-offset-3{%end%} col-md-3">
                <div class="project_wrapper">
                    <div class="projects_img">
                        <img src="{{static_url(project.project_image)}}" />
                    </div>
                    <div class="projects_text">
                        <div class="projects_title">
                            <a href="/project/{{project.project_id}}">{{project.project_name}}</a>
                        </div>
                        <div class="duration">{{project.start_time}} - {{project.end_time}}</div>
                        {% for item in project.item %}
                        <div class="item">
                            {{item.item_name}}
                        </div>
                        {% end %}
                    </div>
                </div>
            </div>
            {%end%}
        </div>
        <div class="section_link">
            <a class="btn btn-default" href="/projects">Learn More</a>
        </div>
    </div> 
    </div>
</section>

<section id="Team">
    <div class="container">
        {% module TeamSelector() %}
        <div class="section_title">Team</div>
        <div class="team_selection">
            <ul class="list-inline">
                <li class="active"><span>All</span></li>
                {% for user_type in user_types %}
                <li><span>{{user_type}}</span></li>
                {% end %}
            </ul>
        </div>
    </div>
        <div class="team_view">
            <div class="row">
                {%for person in persons%}
                    {% module TeamMember(person) %}
                {%end%}
            </div>
        </div>
</section>
    
{% end %}
