{% extends "main.html" %}
{% block css %}
    <link href="{{ static_url("css/models.css") }}" rel="stylesheet">
{% end %}
{% block breadCrumb %}
    <li class="active">Models</li>
{% end %}
{% block contentMain %}
    {% module List() %}
    <hr />
    <ul class="media-list" data-load="{% if len(models) < 10 %}-1{%else%}2{% end %}">
        {% for model in models %}
            {% module ModelItem(model) %}
        {% end %}
    </ul>
    <div class="list_loading_more btn btn-default">
        Load More 
    </div>
{% end %}