{% extends "main.html" %}
{% block css %}
    <link href="{{ static_url("css/paper.css") }}" rel="stylesheet">
{% end %}
{% block breadCrumb %}
    <li><a href="/research" target="_blank">Research</a></li>
    <li class="active">{{paper.title}}</li>
{% end %}
{% block contentMain %}
    <div class="paper_title">
        {{paper.title}}
    </div>
    <hr/>
    <section id="BasicInfo">
        <div class="section_title">INFO</div>
        <div class="paper_author">
            <div class="subtitle">AUTHOR</div>
            <ul class="list-inline">
                {%for author in paper.author %}
                    <li>
                    {%if not isinstance(author, basestring)%}
                        <a href="/person/{{author.username}}" target="_blank">
                            {{author.english_name}}
                        </a>
                    {%else%}
                        {{author}}
                    {%end%}
                    </li>
                {%end%}
            </ul>
        </div>
        {% if paper.get('publisher', None) %}
        <div class="paper_publisher">
            <div class="subtitle">PUBLISHED IN</div>
            <div class="publisher_info">
                {{paper.publisher.publisher_name}}
            </div>
        </div>
        {% end %}
        {% if paper.publish_year %}
        <div class="paper_publish_year">
            <div class="subtitle">PUBLISH YEAR</div>
            <div class="publish_year">{{paper.publish_year}}</div>
        </div>
        {% end %}
        {% if paper.volume %}
            <div>
                <div class="subtitle">VOLUME</div>
                <div>{{paper.volume}}</div>
            </div>
        {% end %}
        {% if paper.number %}
            <div>
                <div class="subtitle">NO</div>
                <div>{{paper.number}}</div>
            </div>
        {%end%}
        {% if paper.start_page and paper.end_page %}
        <div class="paper_page">
            <div class="subtitle">PAGE</div>
            <div class="publish_page">{{paper.start_page}}-{{paper.end_page}}</div>
                
        </div>
        {% end %}
    </section>
    <hr/>
    {% if paper.abstract %}
    <section id="Abstract">
        <div class="section_title">ABSTRACT</div>
        <div class="abstract">{{paper.abstract}}</div>
    </section>
    <hr/>
    {% end %}
    <section id="Download">
        {% if paper.in_press is not None %}
            <a class="btn btn-default disabled">
        {% elif paper.paper_url %}
            <a class="btn btn-default" href="{{paper.paper_url}}">
        {% else %}
            <a class="btn btn-default" href="{{static_url(paper.pdf_url)}}">
        {% end %}
            DOWNLOAD
        </a>
    </section>
{%end%}
