{% extends "main.html" %}
{% block css %}
    <link href="{{ static_url("css/person.css") }}" rel="stylesheet">
{% end %}
{% block breadCrumb %}
    <li class="active">{{person.firstname.capitalize()}} {{person.lastname.capitalize()}}</li>
{% end %}
{% block contentMain %}
    <div class="person_image" id="BasicInfo">
        <img src="{{static_url(person.image)}}" />
    </div>
    <div class="person_realname">{{person.firstname.capitalize()}} {{person.lastname.capitalize()}}</div>
    <div class="person_type">{{person.type}}</div>
    <hr/>
    <section id="PersonalInfo">
        <div class="section_title">PERSONAL INFORMATION</div>
        <div class="sub_title">Address</div>
        <div class="sub_info">
            {% raw person.address%}
        </div>
        <div class="sub_title">Phone Number</div>
        <div class="sub_info">
            {{person.phone}}
        </div>
        <div class="sub_title">Email</div>
        <div class="sub_info">
            {{person.email}}
        </div>
    </section>
    <hr/>
    {% if person.biography %}
    <section id="BIO">
        <div class="section_title">BIO</div>
        <div class="bio_text">
            {{person.biography}}
        </div>
    </section>
    <hr/>
    {%end%}
    <section id="EducationBackground">
        <div class="section_title">EDUCATION BACKGROUND</div>
        {% for background in person.backgrounds %}
        <div class="sub_title">{{background.background_type}}</div>
        <div class="duration">{{background.start_time}} - {{background.end_time}}</div>
        <div class="sub_info">
            {{background.background_type}} of {{background.major}}<br/>
            {{background.facility}}
        </div>
        {% end %}
    </section>
    <hr/>
    {% if person.experiences %}
    <section id="WorkExperience">
        <div class="section_title">WORK EXPERIENCE</div>
        {% for experience in person.experiences %}
        <div class="sub_title">{{ experience.position }}</div>
        <div class="duration">{{ experience.start_time }} - {{experience.end_time}}</div>
        <div class="sub_info">
            {{experience.facility}}
        </div>
        {% end %}
    </section>
    <hr />
    {% end %}
    <section id="ScientificResearch">
        <div class="section_title">SCIENTIFIC RESEARCH</div>
        {% if person.interests %}
        <div class="sub_title">Interests</div>
            {% for interest in person.interests %}
                <div class="research_field">
                    {{interest.interests_name}}
                </div>
            {% end %}
        {% end %}
        <div class="sub_title" id="MainPublishedPapers">Main Published Papers</div>
        {% for type in publisher_type %}
            <div class="para_title">{{type}}</div>
            <div class="table-responsive">
                <table class="table papers" id="{{type}}">
                    <tbody>
                        {%for paper in person.papers %}
                            {% if paper.publisher_type == publisher_type.index(type) + 1 %}
                            <tr>
                                <td>
                                    <a href="/paper/{{paper.article_id}}">{{paper.title}}</a>
                                </td>
                                <td>{{paper.publisher_name}}</td>
                                <td>{{paper.publish_year}}</td>
                            </tr>
                            {% end %}
                        {%end%}
                    </tbody>
                </table>
            </div>
        {%end%}
        <div class="sub_title" id="MainItemsandResearch">Main Items and Research</div>
        <div class="table-responsive">
            <table class="table papers">
                <tbody>
                    {%for project in person.projects %}
                        <tr>
                            <td>
                                <a href="/project/{{project.project_id}}">{{project.project_name}}</a>
                            </td>
                            <td>{{project.item_name}}</td>
                            <td>{{project.start_time}}-{{project.end_time}}</td>
                        </tr>
                    {%end%}
                </tbody>
            </table>
        </div>
        <div class="sub_title" id="ResearchPrize">Research Prize</div>
        <ul class="list-group">
            <li class="list-group-item">[1]. “可信软件的构造方法与技术”，湖北省科技进步一等奖，项目主持人，2014</li>
            <li class="list-group-item">[2]. “The Research and Implement of the Key Technologies in the Process of Web Information Accessing, Analysis and Measurement”. Hubei Prize for Natural Sciences (Second Prize)</li>
            <li class="list-group-item">[3]. F. Xu, T. Das, M. Peng, N. Ghani, “Evaluation of Post-Fault Restoration Strategies in Multi-Domain Networks,” IEEE ANTS 2010, Bombay, India, December 2010, Best Paper Award. </li>
        </ul>
        <div class="sub_title" id="Others">专利、软著</div>
        <ul class="list-group">
            <li class="list-group-item">[1]. 彭敏, 武斌, 汪清, 黄佳佳, 代心媛. 一种社交网络重要目标及社区群体识别方法, 2012,中国（国家发明专利），201210514421.7</li>
            <li class="list-group-item">[2]. 彭敏, 武斌, 汪清. 微博猎手系统, （软件著作权）, 2013年1月</li>
            <li class="list-group-item">[3]. 彭敏, 周李, 张泰玮. 木马分类管理系统, （软件著作权）, 2013年1月</li>
            <li class="list-group-item">[4]. 任延珍, 黄轩, 彭敏. 图像数字指纹追踪方法, 2011, 中国（国家发明专利）, 武汉大学, CN201110278906.6</li>
            <li class="list-group-item">[5]. 胡瑞敏, 任延珍, 彭敏. 数字指纹生成和跟踪方法, 2008, 中国（国家发明专利）, CN200810047646.X</li>
        </ul>
    </section>
    <hr />
{% end %}
