/*Carousel*/
.carousel-inner .item>div{
    padding: 0px;
    min-height: 420px;
}
.carousel-control.right{
    background-image: none;
    width:5%;
}
.carousel-control.left{
    background-image: none;
    width:5%;
}
.carousel-indicators li{
    border-color: #000;
}
.carousel-indicators .active{
    background-color: #000;
    border-color: #000;
}
.carousel_img img{
    width: 100%;
}
.carousel_text{
    min-height: 320px;
    background-color: #ebf4ec;
    font-weight: 300;
}
.carousel_title{
    min-height: 40px;
    font-size: 1.5em;
    font-weight: 400;
}
.carousel_text .wrapper{
    padding: 5% 14%;
    min-height: 320px;
}
.carousel_intro{
    margin-top: 20px;
    font-family: Doris Serif;
}
.carousel_link a{
    font-size: 1.2em;
    background-color: #2ec3e7;
    border-color: #2ec3e7;
    color: #fff;
}
.carousel_link{
    margin-top: 20px;
}
.carousel_link a:hover{
    background-color: #2ec3e7;
    border-color: #333;
    border-color: #2ec3e7;
    color: #fff;
}
/*Section*/
section{
    padding: 100px 0;
    min-height:1px;
}
.section_title{
    font-size: 1.5em;
    margin-bottom: 40px;
    text-align: center;
    color: #303030;
    font-weight: 700;
}
.section_link{
    margin: 30px auto;
    width: 140px;
}
.section_link .btn{
    font-size: 1.5em;
    background-color: #2ec3e7;
    color: #fff;
    border-style: none;
}
.section_link .btn:hover{
    border-style: none;
}
.table.latest{
    font-size: 1.2em;
}
.table.latest td:nth-child(1){
    width: 50%;
}
/*Intro*/
#Intro .intro_slogen{
    text-align: center;
    font-size: 2em;
}
.intro_text{
    text-align: center;
    font-size: 1.4em;
    color: #81878c;
    font-weight: 300;
}
/*Papers*/
#Papers{
    min-height: 300px;
    background-color:#ebf4ec;
}
#Papers .row{
    padding: 0 10%;
}
#Papers .row>div{
    text-align: center;
}
.paper_wrapper{
    background-color: #fff;
    min-height: 250px;
}
#Papers .table.latest td a{
    color: #2ec3e7;
}
/*Projects*/
#Projects{
    color: #333;
    background-color: #2ec3e7;
}
#Projects .row{
    padding: 0 10%;
}
#Projects .section_link .btn{
    border-color: #333;
    border-style: solid;
    color: #333;
}
#Projects .table.latest td a{
    color: #fff;
}
/*Team*/
#Team{
    background-color: #ebf4ec;
}
#Team .row{
    margin: 0;
}
.team_selection{
    text-align: center;
}
.team_selection li{
    cursor: pointer;
}
.team_selection li.active span{
    border-bottom-color: #2ec3e7;
    border-bottom-width: 2px;
    border-bottom-style: solid;
}
.team_view{
    margin: 80px 0px;
    min-height: 226px;
}
.team_view .person_cover{
    text-align: center;
    font-size: 1.4em;
    margin-top:20px;
    color: #333;
}
.team_view .image_wrapper{
    width: 150px;
    height: 150px;
    border-radius: 150px;
    overflow: hidden;
    margin: auto;
    border-color: #2ec3e7;
    border-style: solid;
    border-width: 5px;
}
.team_view img{
    width: 100%;
}
