/*Carousel*/
.carousel-inner .item>div{
    padding: 0px;
    min-height: 320px;
}
.carousel-control.right{
    background-image: none;
    width:5%;
}
.carousel-control.left{
    background-image: none;
    width:5%;
}
.carousel-indicators li{
    border-color: #000;
}
.carousel-indicators .active{
    background-color: #000;
    border-color: #000;
}
.carousel_img img{
    width: 100%;
    height: 320px;
}
.carousel_text{
    min-height: 320px;
}
.carousel_text .carousel_title{
    height: 100px;
    font-size: 2em;
    padding: 40px 100px 0 100px;
}
.carousel_text .carousel_intro{
    padding: 0 100px;
}
.carousel_text .carousel_link{
    margin-left: 100px;
    margin-top: 20px;
    margin-bottom: 25px;
    padding: 0px;
    min-width: 16%;
    background-color: inherit; 
    height: 40px;
    border-color: #333;
    border-width: 3px;
    font-size: 1.5em;
}
/*Section*/
section{
    padding: 80px 0;
}
.section_title{
    font-weight: bold;
    font-size: 1.6em;
    margin-bottom: 40px;
    margin-left: 60px;
}
/*Fields*/
#Fields{
    min-height: 300px;
}
#Fields .col-md-4{
    height: 200px;
}
.field_title{
    font-size: 1.2em;
    margin: 20px 0;
}
.field_text{
    height: 120px;
}
.field_link{
    float: right;
    color: #046380;
}
.field_link:hover, .field_link:active{
    text-decoration: none;
} 
/*Papers*/
#Papers{
    min-height: 300px;
}
#Papers a:hover{
    text-decoration: none;
}
#Papers .col-md-4{
    min-height: 200px;
}
#Papers .col-md-4 .paper_text{
    color: #333;
    padding: 10px;
    height: 180px;
}
#Papers .col-md-4 .paper_text .paper_title{
    height: 40px; 
    font-size: 1.2em;
    color: #000;
}
#Papers .col-md-4 .paper_text .paper_publisher{
    font-size: 0.9em;
    color: #888;
}
#Papers .col-md-4 .paper_text:hover{
    text-decoration: none;
}
#Papers .col-md-4 img{
    width: 150px;
    height: 180px;
    float: left;
}
/*Projects*/
#Projects .projects_img{
    margin:0 auto;
    width: 100px;
}
#Projects .projects_img img{
    height: 100px;    
    width: 100px;
    border-radius: 100px;
}
.projects_text{
    padding: 15px;
}
.projects_title{
    text-align: center;
    color: #000;
    font-size: 1.2em;
    margin-bottom: 10px;
}
.projects_intro{
    padding: 5px 15px;
}
.projects_link{
    margin: 5px auto;
    width: 82px;
}
.projects_link a{
    border-width: 2px;
    border-color: #333;
}
/*Team*/
.team_selection li.active span{
    border-bottom-color: #000;
    border-bottom-width: 2px;
    border-bottom-style: solid;
}
.team_view{
    margin: 20px 0px;
    min-height: 226px; 
}
.team_view .col-md-2{
    padding: 0px;
    min-height: 226px; 
}
.team_view img{
    width: 100%;
}
