li.media{
    padding: 20px 0;
}
.media-body{
    padding-right: 40px;
}
.media-body a, a:hover{
    color: #333;
    text-decoration: none;
}
.media-left a>img{
    width: 200px;
    height: 150px;
}
.list_loading_more{
    margin: auto;
    margin-top: 50px;
    width: 82px;
    display: block;
}
