/*Person Image*/
.person_image{
    width: 200px;        
    height: 200px;
    overflow: hidden;
    margin: auto;
    border-radius: 200px;
} 
.person_image img{
    width: 200px;
}
/*Person Realname*/
.person_realname{
    text-align: center;
    margin-top: 20px;
    font-size: 1.8em;
}
/*Person Type*/
.person_type{
    margin: auto;
    text-align: center;
    width: 108px;
    color: #2ec3e7;
    font-weight: bold;
}
/*Section*/
section{
    padding: 30px 5%;
}
.section_title{
    font-size: 1.6em;
    margin-bottom: 60px;
}
.sub_title{
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 30px;
    font-size: 1.2em;
}
.para_title{
    font-size: 1.2em;
    margin: 20px 0;
}
.duration{
    margin: 5px 0;
    color: #2ec3e7;
    font-weight: bold;
}
/*BIO*/
.bio_text{
    font-family: Droid Serif;
    font-weight: 300;
    text-align: justify;
}
/*Scientific Research*/
.research_field span{
    color: #2ec3e7;
    font-size: 1.5em; 
    margin-right: 10px;
}
.papers td:nth-child(1){
    width: 55%;
}
.papers td a{
    color: #2ec3e7;
    font-weight: bold;
}
