.project_user{
    color: #2ec3ce;
    padding-right:5px;
}
.duration{
    color: #888;
}
.item{
    font-weight: bold;
}
.media-body a{
    color: #2ec3e7;
}
.project_heading{
    font-size: 1.8em;
}
