<li class="media" data-id="{{project.project_id}}">
    <div class="media-body">
        <a href="{% if project.project_null is not None %}/project/{{project.project_id}}{%end%}"><h4 class="project_heading">{{project.project_name}}</h4></a>
        <div class="project_info">
            {% for user in project.users %}
            <span class="project_user">
                <a href="/person/{{user.username}}">
                    {{user.english_name}}
                </a>
            </span>
            {% end %}
        </div> 
        <div class="duration">{{project.start_time}} - {{project.end_time}}</div>
        <div class="item">
            {% for item in project.item %}
            {{item.item_name}} 
            {% end %}
        </div>
    </div>
</li> 
<hr />
