<li class="media" data-id="{{paper.article_id}}">
    <div class="media-body">
        <a href="/paper/{{paper.article_id}}"><h4 class="article_heading">{{paper.title}}</h4></a>
        <div class="article_info">
            {% for author in paper.author %}
                <span class="article_author">
                {% if not isinstance(author, basestring) %}
                    <a class="article_user" href="/person/{{author.username}}">
                        {{author.english_name}}
                    </a>
                {% else %}
                    {{author}}
                {% end %}
                </span>
            {% end %}
            <span class="article_publish_time">{{paper.publish_year}}</span>
        </div> 
        <div class="article_abstract">
            {% if paper.short_abstract %}{{paper.short_abstract}}{% end %}
        </div>
    </div>
</li> 
<hr />
